body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

.starter-template {
  padding: 32px;
}

.page-header-extended {
  padding-bottom: 9px;
  margin: 40px 0 20px;
}

.modal-footer-extended {
  padding: 15px;
  text-align: right;
}

.required-field {
  color: red;
}

.page-title {
  text-align: center;
  color: #FF813F;
  font-weight: 700;
}

.add-new-button {
  float: right;
  margin-bottom: 10px;
}

#member_search {
  width: 100%;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 10px
}

.info-table-header-block {
  margin-bottom: 20px;
}

#member_search .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
}

.tag {
  background: #3c763d;
  border-radius: 3px 0 0 3px;
  color: #fff;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #3c763d;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #3c763d;
  color: white;
  text-decoration: none;
}

.center {
  text-align: center;
}

input[data-readonly] {
  pointer-events: none;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  background-color: #333;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}
